html,
body {
    color: #555;
}
.content-wrapper {
    background: #f1f2f6;
}
h1 a,
h1 a:hover {
    color: #222222;
}
.article_pub-date {
    color: #949494;
}
.ui.vertical.menu > .item.active {
    border-right-color: #00B9F0;
    color: #00B9F0;
}
button, .button {
    background-color: rgb(0, 181, 173);
}
button:hover, .button:hover {
    background: rgba(0, 181, 173,0.7);
}
.top-bar, .top-bar.expanded {
    background: rgba(0, 181, 173,0.8);
}
li.menu-icon i {
    color: rgb(148, 223, 219);
}

.ui.secondary.vertical.menu .active.item {
    border-color: rgb(0, 181, 173)!important;
    color: rgb(0, 181, 173)!important;
}