@font-face {
	font-family: 'icomoon';
	src:url('../icon-fonts/icomoon.eot');
	src:url('../icon-fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icon-fonts/icomoon.woff') format('woff'),
		url('../icon-fonts/icomoon.ttf') format('truetype'),
		url('../icon-fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-blog, .icon-tag, .icon-contact, .icon-page, .icon-comment, .icon-feed, .icon-twitter, .icon-facebook, .icon-facebook-2, .icon-github, .icon-paypal, .icon-skype, .icon-windows8 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
    font-size:25px;
}
.icon-home:before {
	content: "\e000";
}
.icon-blog:before {
	content: "\e007";
}
.icon-tag:before {
	content: "\e030";
}
.icon-contact:before {
	content: "\e040";
}
.icon-page:before {
	content: "\e026";
}
.icon-comment:before {
	content: "\e06a";
}
.icon-feed:before {
	content: "\e170";
}
.icon-twitter:before {
	content: "\e16d";
}
.icon-facebook:before {
	content: "\e16a";
}
.icon-facebook-2:before {
	content: "\e169";
}
.icon-github:before {
	content: "\e188";
}
.icon-paypal:before {
	content: "\e1ad";
}
.icon-skype:before {
	content: "\e19d";
}
.icon-windows8:before {
	content: "\e19a";
}
